.titleProd {
    // color: #3f51b5;
    text-align: center;
    // text-shadow: 1px blue;
    font-size: large;
    font-family: 'Milonga';
    // font-weight: 540;
}

//---------------------------------------------------------------
.thePrice {
    font-family: 'Milonga';
}

.title {
    font-family: 'Milonga';
    font-weight: 650;
    font-size: x-large;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
}

//----------------------------------------------------------
.content {
    font-family: 'Milonga';
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    font-family: 'Milonga';
    font-weight: 650;
    font-size: x-large;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
}

//---------------------------------------------------
#numberProd {
    margin-top: 0px;
    padding-top: 0px;
}

//----------------------------------------------------------
.myCart {
    flex-direction: column;
    color: #0012ee;
    text-decoration-line: none;
}

.deleteIcon {
    color: #38d9a9;
}

.card-container {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px;
    margin-top: 100px;
}

.card {
    // all: unset;
    // border-radius: 8px;
    border: 2px solid #0000;
    background-color: #fafafa;
    max-height: 400px;
    // width: 400px;
    width: content;
    height: content;
    margin: 20px;
    padding: 10px;
    // display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-out;
    box-shadow: 1px 1px 1px #343a40;
    display: flex;
    flex-direction: column;
    font-family: 'Milonga';
    font-weight: 650;
    font-size: x-large;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
}

// -----------------------------------------------------------
.card:hover {
    z-index: 3000;
    transform: scale(1.11);
    //  margin:50px;
    box-shadow: 1px 1px 2px 3px #343a40;
    //  #3f51b5;
}

//---------------------------------------------------------
.imgClass {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    max-width: 90px;
    max-height: 90px;
}

//------------------------------------------------------------------
.imgClass:hover {
    border-radius: 20px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 210, 0.6);
}

//-----------------------------------------------------------------------
.del {
    background-color: #a61400;
    //  #c92a2a;
    color: white;
}

a {
    text-decoration: none;
    color: #343a40;
}

//-----------------------------------------------------------------
.add {
    background-color: #343a40;
    color: white;
    //   black;
}

//---------------------------------------------------------------------
.btnadd {
    margin-left: 14px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight: 500;
    font-size: xx-large;
}

.btnadd:hover {
    background-color: black;
    color: white;
}

//------------------------------------------------------------------------
.btns {
    margin: 14px;
    flex-direction: row;
    // margin-left:40px;
}

//--------------------------------------------------------------------------
h1,
h2 {
    margin: 5px;
    padding: 5px;
}

//--------------------------------------------------------------------------