
<div class="content">
    <ol >
    <h1 class = 'title price'> Final Price = {{myCart.finalPrice}} $
    </h1> 
<!--     <h2 class = 'title amount'> Finall Amount = {{myCart.finalAmount}}</h2> -->


    <li *ngFor="let it of myCart.items" class="prods">
      <div class="prod">
        <h1 id='titleProd'> {{it.title}} 
          <button (click)="removeFromCart(it)" class="material-icons" id="cancel">cancel</button>
        </h1>
        <p class='price'>
          <span> price per one  : {{ it.price}} $ </span>
          <span class="space opac"> X</span> <span > {{it.amount}}</span>
          <span class="space">  =  Total price                 : {{it.finalPrice}} $</span>
      </p>
        
        <div class="btns">
          <button class="add btnadd" (click)="increase(it)"> + </button>
          <button class="del btnadd" (click)="decrease(it)"> - </button>
          <!-- <button class="del btnadd" (click)="remove(p.id)"> -->
            <!-- <span class="material-icons deleteIcon">delete</span></button> -->
        </div>

      </div>
    </li>
  </ol>
</div>
