#titleProd {
    font-family: 'Milonga';
    font-weight: 650;
    font-size: larger;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    margin: 10px;
    padding: 10px;
}
//-------------------------------------------------------------------
.title {
//    background-color: white;
  color: white;
    font-family: 'Milonga';
    font-weight: 750;
    font-size: xx-large;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
    box-shadow: 1px 1px 1px 1px rgba(90,160,150,1);
    margin: 15px;
    padding: 15px;
  margin-top: 50px;
 
  min-width : 1000px;
}
//----------------------------------------------------------
.content {
   min-width : 1200px;
  background-color: black;
    margin-top:0px;
    transform: scale(0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-justify: newspaper;
}
//==============================================================
.deleteIcon {
    color: #38d9a9;
}
//=============================================================
#dell {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    color: black;
    margin-left: 30px;
    padding-right:2px;
    padding-left:5px;
    align-content:right;
    align-text:right;
    float:right  ;
//     margin-right: 5px;
}
//================================================================
.prods {
    // transform :scale(0.8);
    border: 2px solid #0000;
    background-color: white;
    height: max-content;
    margin: 20px;
    justify-content: center;
    align-items: center;
    // transition: all 0.1s ease-out;
    box-shadow: 1px 1px 1px #343a40;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
  min-width: 900px;
  width : 1100px;
}
// -----------------------------------------------------------
.prods:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 250, 0.7);
}
//---------------------------------------------------------
.imgClass {
    border: 1px solid #2d3;
    border-radius: 4px;
    padding: 5px;
    max-width: 90px;
    max-height: 90px;
}
//------------------------------------------------------------------
.imgClass:hover {
    border-radius: 15px;
    // box-shadow: 0 0 2px 1px rgba(0, 140, 210, 0.6);
}
//-----------------------------------------------------------------------
.del {
    background-color: rgba(240,60, 200, 0.9);
    color: white;
}
//======================================================================
a{
    text-decoration: none;
    color: #343a40;
}
//-----------------------------------------------------------------
.add {
    background-color: rgb(80, 250, 190);
    color: white;
}
//==================================================================
.price {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 30px;
}
//---------------------------------------------------------------------
.btnadd {
    margin-left: 12px;
    height: 38px;
    width: 38px;
    border-radius: 20px;
    font-weight: 500;
    font-size: xx-large;
}
//=======================================================================
.btnadd:hover {
    background-color: black;
    color: white;
}
//------------------------------------------------------------------------
.btns {
    margin: 10px;
    flex-direction: row;
}
//--------------------------------------------------------------------------
h1,
h2 {
    margin: 5px;
    padding: 5px;
}
//=========================================================================
p {
    font-family: 'Milonga';
    font-weight: 600;
    font-size: larger;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
}
//===============================================================================
.opac {
    color: gray;
    // opacity: 0.8
}
//==============================================================================
.space {
    // opacity: 0.75;
    margin-right: 20px;
    margin-left: 20px;
}
//===============================================================================
