.basic {
    font-family: 'Milonga';
}

#titleProd {
    font-family: 'Milonga';
    color: steelblue;
    font-weight: 650;
    font-size: larger;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    // border-style: ridge;
    // box-shadow: 1px 1px 4px 1px rgba(90, 200, 250, 0.8);
    margin: 15px 10px;
    padding: 15px 10px;
    // width: max-width;
}

//-------------------------------------------------------------------

.title {
    font-family: 'Milonga';
    font-weight: 750;
    font-size: xx-large;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
    // background-color: rgba(255, 255, 250, 0.95);
    box-shadow: 1px 1px 4px 1px rgba(90, 160, 250, 0.8);
    margin: 15px 15px;
    padding: 15px 15px;
}

//----------------------------------------------------------
.content {
    transform: scale(0.7);
    // font-family: 'Milonga';
    display: flex;
    margin: 50px;
    // padding: 0 10px;
    // width: 2000px;
    flex-direction: column;
    align-items: center;
    // font-family: 'Milonga';
    // font-weight: 600;
    // font-size: x-large;
    // font-style: normal;
    text-align: center;
    text-justify: newspaper;
    // border-style: outset;
    // width: max-width;
}

.deleteIcon {
    color: #38d9a9;
}

#dell {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;

    color: rgba(100, 140, 150, 0.7);
    // #07d9a9;
    margin-left: 80px;
    // align-content:right;
    // align-text:right;
    // float:right  ;
    align-self: flex-end;
    margin-right: 5px;
    transform: scale(1.8);
}

.prods {
    // transform :scale(0.8);
    // all: unset;
    // border-radius: 8px;
    border: 2px solid #0000;
    background-color: #f8fafa;
    // width: max-content;
    // max-height: 400px;
    // width: 400px;
    // width: content;
    height: max-content;
    margin: 10px;
    // padding: 10px;
    // display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    // transition: all 0.1s ease-out;
    box-shadow: 1px 1px 1px #343a40;
    display: flex;
    flex-direction: column;
    // width: max-width;
    font-size: x-large;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
    border-style: outset;
}

// -----------------------------------------------------------
.prods:hover {
    // z-index: 3000;
    // transform: scale(1.5);
    //  margin:50px;
    // box-shadow: 1px 1px 2px 3px #343a40;
    box-shadow: 0 0 2px 1px rgba(0, 140, 210, 0.6);
    //  #3f51b5;
}

//---------------------------------------------------------
.imgClass {
    border: 1px solid #2d3;
    border-radius: 4px;
    padding: 5px;
    max-width: 90px;
    max-height: 90px;
}

//------------------------------------------------------------------
.imgClass:hover {
    border-radius: 15px;
    // box-shadow: 0 0 2px 1px rgba(0, 140, 210, 0.6);
}

//-----------------------------------------------------------------------
.del {
    background-color: //
        // rgba(220, 0, 150, 0.6);
        rgba(140, 0, 60, 1);
    //  #c92a2a;
    color: white;
}

a {
    text-decoration: none;
    color: #343a40;
}

//-----------------------------------------------------------------
.add {
    // box-shadow: 0 0 2px 1px rgba(0, 140, 210, 0.6);
    background-color: rgb(63, 131, 98);
    // rgba(0, 245, 80, 1);
    color: white;
    //   black;
}

.amount {
    // opacity: 0.85;
    //  font-weight: 500;
    // font-size: x-large;
}

.price {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 30px;

}

//---------------------------------------------------------------------
.btnadd {
    margin-left: 12px;
    height: 38px;
    width: 38px;
    border-radius: 20px;
    font-weight: 500;
    font-size: xx-large;
}

.btnadd:hover {
    background-color: black;
    color: white;
}

//------------------------------------------------------------------------
.btns {
    margin: 10px;
    flex-direction: row;
    // margin-left:40px;
}

//--------------------------------------------------------------------------
h1,
h2 {
    margin: 5px;
    padding: 5px;
}

p {
    font-family: 'Milonga';
    font-weight: 600;
    font-size: larger;
    font-style: normal;
    text-align: center;
    text-justify: newspaper;
}

//--------------------------------------------------------------------------
.shekel {
    opacity: 0.5;
    // margin-right: 22px;
}

.opac {
    color: gray;
    // opacity: 0.8
}

.space {
    // opacity: 0.75;
    margin-right: 20px;
    margin-left: 20px;
}