<div class="card"  *ngIf = "tryMe() === true">
        <h2 class='titleProd'> {{ p.title}}</h2>
        <h1 class='thePrice'> {{ p.price}} $</h1> 
        <h1>Category : {{p.category}}</h1>
        <img class="imgClass" src={{p.image}} alt="img">
        <p class="desc" contentEditable="true">
        Description - editable :<br/> 
        <span class="material-icons btns">edit</span>
        <br/>{{p.description}}</p>

        <div>
           <a routerLink='/' class="goBack" > 
        <span class="material-icons btns">cancel</span>
        </a>
        </div>

    </div>
