
<div class="content" role="main">
  <ul class="card-container">
    <li *ngFor="let p of products" class="prod">
      <div class="card">
        <h2 class='titleProd'> {{ p.title }}</h2>
        <h1 class='thePrice'> {{ p.price}} $</h1>
        <img class="imgClass" src={{p.image}} alt="img">
        <div class="btns">
          <button class="add btnadd" (click)="incItem(p)"> + </button>
          <button class="del btnadd"  
                 (click)="decItem(p)"> - </button>
         
          <a routerLink='product/{{p.id}}' class ='go' (click)="pass(p)" >
            <span class="material-icons">double_arrow</span> details 
          </a>
       </div>
        <!-- <span class="material-icons">cancel_presentation</span> -->
        <!-- <span class="material-icons">edit</span> -->
        <!-- <span class="material-icons deleteIcon">delete</span> -->
      </div>
    </li>
  </ul>
</div>
