// @import url('https://fonts.googleapis.com/css2?family=Milongap');
// @import url('https://fonts.googleapis.com/css2?family=Kleymisska');
//=================================================================================

.titleProd {
    color: #3f51b5;
    text-align: center;
    text-shadow: 1px #3f51b5;
    font-size: large;
    font-family: 'Kleymisska', 'Milonga';
    font-weight: 550;
}
//---------------------------------------------------------------
.thePrice {
    font-size: x-large;
    font-family: 'Milonga';
}

//---------------------------------------------------------------
.svgg {
    margin-left: 30px;
}

//----------------------------------------------------------
.content {
   background: linear-gradient(to left,
        rgba(90, 90, 170, 0.3) 0%,
          rgba(70, 90, 230, 0.3) 30%,
          rgba(70, 230, 170, 0.3) 70%);
//   background-color:rgba(100,100,140,0.2);
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

//------------------------------------------------
svg.material-icons {
    height: 24px;
    width: auto;
}
//----------------------------------------------------------
.myCart {
    flex-direction: column;
    color: #3f51b5;
    text-decoration-line: none;
}

// ----------------------------------------------------------
//-------------------------------------------------------------
.home {
    // color: black;
    // #364fc7;
}

.deleteIcon {
    color: #38d9a9;
}

.card-container {
  
    margin-left: 6%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-gap: 10px;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    // margin: 70px;
    margin-top: 5%; //100px;
}

.card {
    // all: unset;
    border-radius: 4px;
    border: 1px solidrgba(10, 100, 200, 0.8);
    background-color: rgba(242, 246, 243, 0.7);
    height: 420px;
    width: 380px;
    width: content;
    height: content;
    margin: 6px;
    padding: 4px;
    // display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-out;
    box-shadow: 1px 1px 1px #343a40;
    display: flex;
    flex-direction: column;
    transform: scale(0.88);
}

// -----------------------------------------------------------
.card:hover {
    z-index: 3000;
    transform: scale(1);
    //  margin:50px;
    // box-shadow: 1px 1px 4px 2px #343a40;
    box-shadow: 0 0 2px 2px rgba(90, 190, 210, 0.9);
    //  #3f51b5;
}

//---------------------------------------------------------
.imgClass {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 2px;
    max-width: 140px;
    max-height: 140px;
}

.go {
    color: rgb(0, 180, 255);
    margin-left: 30px;
}

//------------------------------------------------------------------
.imgClass:hover {
    border-radius: 24px;
    // box-shadow: 0 0 2px 1px rgba(0, 140, 210, 0.6);
}

//-----------------------------------------------------------------------
.del {
    background-color: rgba(200, 50, 200, 1);
    // rgba(210, 0, 150, 0.7);
    // background-color: rgba(250, 30, 150, 0.9);
    //  #c92a2a;
    color: white;
}

a {
    text-decoration: none;
    color: #343a40;
}

//-----------------------------------------------------------------
.add {
    background-color: rgb(20, 255, 80);
    // color:#3f51b5;
    color: white;
}

//---------------------------------------------------------------------
.btnadd {
    margin-left: 14px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight: 500;
    font-size: xx-large;
}

.btnadd:hover {
    background-color: black;
    color: white;
}

//------------------------------------------------------------------------
.btns {
    margin: 10px;
    flex-direction: row;
    // margin-left:40px;

}

//--------------------------------------------------------------------------
h1,
h2 {
    margin: 5px;
    padding: 5px;
}

//--------------------------------------------------------------------------
