
<div class="content" role="main">
  <ul class="card-container">
    <li *ngFor="let p of products" class="prod">
      <div class="card">
        <h2 class='titleProd'> {{ p.title }}</h2>
        <h1 class='thePrice'> {{ p.price}}
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABBUlEQVRIie3UvUoDQRQF4C9ipbWQQtFCa02RRrAX7MTGKthq70MIaX0Fm5Cn0Aews9WIQsAyYCGJxU5gGNb90VUscuBy78zdc8/OnmFZ4L/hCM+YfRFjDNHJ4e7gFYMigVHB8Dgm6CbcXuhN482l5KH1kM/QSmILF3jHCvoJt5XkXIEiPOIaV2F9gHYZqY7AHDdRvduEQGreKOqtNSGwL/sUx2E9iXrLTQjkmlcV3/HgTwRmSf6RwEdUr4Y8lBl/V0YuNQlvUb2BB5xU4KHaCe6j+rTq4DoCL7gN9SXOsVlXaI6pzLhest+V3f8qP8KnIoFBeOPtnN6ezNxxyfDD2sda4FfxCc+ARabuT4U7AAAAAElFTkSuQmCC" />
        </h1>
        <img class="imgClass" src={{p.image}} alt="img">
        <div class="btns">
          <button class="add btnadd" (click)="incItem(p)"> + </button>
          <button class="del btnadd"  
                 (click)="decItem(p)"> - </button>
         
          <a routerLink='product/{{p.id}}'>
            <span class="material-icons go">double_arrow</span> details 
          </a>
       </div>
        <!-- <span class="material-icons">cancel_presentation</span> -->
        <!-- <span class="material-icons">edit</span> -->
        <!-- <span class="material-icons deleteIcon">delete</span> -->
      </div>
    </li>
  </ul>
</div>